html
  head
    title Egghead tests2
  body
    a(href='http://ya.ru/') Я ру
    br
    a(href='http://google.ru/') Гугл
    br
    a(href='http://habrahabr.ru/') Хабр
    br
    a(href='http://twitter.com/') twitter.com
    br
    div#main.container
    script(src="app.js")